<html>
    <body>
        <form action = "http://localhost:5000/device/" method = "GET">
            <h1>Device Lookup</h1>
            <p>Lookup key:</p>
            <p><select name="key" id="key">
                <option value="None">None</option>
                <option value="label">label</option>
                <option value="locaiton">locaiton</option>
                <option value="serial">serial</option>
                <option value="host">host</option>
                <option value="mac">mac</option>
            </select></p>
            <p>Lookup Value:</p>
            <p><input type = "text" name = "value" /></p>
            <p><input type = "submit" value = "lookup" /></p>
        </form>
    </body>
</html>