<html>
    <body>
        <table style="width:100%">
            <th>Device Query</th>
            <tr>
                <td>ID</td>
                <td>Label</td>
                <td>Location</td>
                <td>Serial</td>
                <td>Host</td>
                <td>MAC Address</td>
            </tr>
            {% for device in device_list %}
            <tr>
                <td>{{device.0}}</td>
                <td>{{device.1}}</td>
                <td>{{device.2}}</td>
                <td>{{device.3}}</td>
                <td>{{device.4}}</td>
                <td>{{device.5}}</td>
                <td>{{device.6}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>