<html>
    <body>
        <form action = "http://localhost:5000/device/" method = "POST">
            <h1>Device Lookup</h1>
            <p>Device Label:</p>
            <p><input type = "text" name = "label" /></p>
            <p>Location:</p>
            <p><input type = "text" name = "location" /></p>
            <p>Serial</p>
            <p><input type = "text" name = "serial" /></p>
            <p>Hostname/IP Address:</p>
            <p><input type = "text" name = "host" /></p>
            <p>MAC Address:</p>
            <p><input typoe = "text" name = "mac" /></p>
            <p><input type = "submit" value = "create" /></p>
        </form>
    </body>
</html>